<!DOCTYPE html>
<html>
<head>
	<title>Intern</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript "  src="angular.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

      <style >
      	.info{
      		text-align: center;
                  
      	}
        body{
          font-family: 'Pacifico', cursive;
        }

      	input{
      		margin: 10px;
      	}
      </style>

</head>


<body ng-app='myApp' ng-controller='alarm'  >

<h2 class="info">CURRENT TIME::{{time}}</h2>
<hr>


<div class="panel panel-default panel-success info">

<div class="panel-heading">Enter the Alarm Details </div>
<div class="panel-body ">
<form>

Date:<input type="text" name="date" ng-model="Date"><br>

Hrs:<input type="text" name="minutes" ng-model="Hours"><br>

Min:<input type="text" name="minutes" ng-model="Minutes"><br>

<div>

    <div style="margin-right: 5px;">Select AM/PM </div>
    <select  ng-model="ampm">

    <option value="0">AM</option>
    <option value="1">PM</option>
  
    </select>
</div>
</form>

</div>

<div class="panel-footer">

<button class="btn btn-primary " ng-click="submit()">Add Alarm</button>
<button class="btn btn-primary " ng-click=" displayData()">See Alarms Added</button>


      
</div>
</div>

<table class="table table-hover  table-condensed">
    <thead>
      <tr>
      
        <th>Date(This Month Only)</th>
        <th >Hours</th>
        <th>Minutes(min)</th>
        <th>AM/PM</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="x in info" >
      
      <td>{{x.Date}}</td>
      <td >
        <div ng-if="timeformat(x.Hours)">{{time_format}}</div>
      </td>
      <td>{{x.Minutes}}</td>
      <td>
          <div ng-if="x.AM==0">AM
            
          </div>

          <div ng-if="x.AM==1">PM</div>


      </td>
      <td class="btn btn-primary" ng-click="delete(x.id)">Delete </td>

      </tr>
    </tbody>
  </table>

  

</body>
</html>